@media only screen and (max-width: 1200px) {
  .hero-text-box {
    padding: 0 2%;
    width: 100%;
  }
  .row {
    padding: 0 2%;
    width: 100%;
  }

  input[type="text"],
  input[type="email"],
  select,
  textarea {
    width: 70%;
  }
  label {
    margin-left: 0%;
  }
}

/* Small tablets to big tablets: From 768 to 1023 */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }

  section {
    padding: 60px 0;
  }

  .long-text {
    width: 80%;
    margin-left: 10%;
  }

  .steps-box {
    margin-top: 10px;
  }
  .steps-box:last-child {
    margin-top: 40px;
  }
  .work-steps {
    margin-bottom: 40px;
  }
  .work-steps:last-of-type {
    margin-bottom: 60px;
  }
  .app-screen {
    width: 50%;
  }

  .icon-small {
    margin-right: 5px;
    width: 20px;
  }
  .city-feature {
    font-size: 90%;
  }

  .plan-box {
    width: 100%;
    margin-left: 0%;
  }
  .plan-price {
    font-size: 250%;
  }

  .contact-form {
    width: 80%;
  }
  input[type="text"],
  input[type="email"],
  select,
  textarea {
    width: 70%;
  }
  label {
    margin-left: 0%;
  }
}
/* Small phones to small tablets: From 481 to 767 */
@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  section {
    padding: 30px 0;
  }

  .row,
  .hero-text-box {
    padding: 0 4%;
  }

  h1 {
    font-size: 180%;
  }
  h2 {
    font-size: 150%;
  }

  .main-nav {
    display: none;
  }

  .long-text {
    width: 100%;
    margin-left: 0%;
  }

  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }

  .app-screen {
    width: 35%;
  }
  .steps-box:first-child {
    text-align: center;
  }
  .works-step div {
    padding: 4px;
    height: 40px;
    width: 40px;
    font-size: 120%;
    margin-right: 15px;
  }
  .works-step {
    margin-bottom: 20px;
  }

  .btn-app img {
    margin-right: 0px;
    margin-top: 40px;
    margin-left: 9%;
  }

  .contact-form {
    width: 90%;
  }
  input[type="text"],
  input[type="email"],
  select,
  textarea {
    width: 90%;
    margin-left: 5%;
  }

  input[type="checkbox"] {
    margin-left: 5%;
  }
  label {
    margin-left: 5%;
  }

  .send-it {
    text-align: center;
  }

  .footer-nav,
  .social-links {
    float: none;
    text-align: center;
  }
}

/* Small phones: From 0 to 480 */
@media only screen and (max-width: 480px) {
  section {
    padding: 25px 0;
  }

  .btn-full,
  .btn-ghost {
    font-size: 13px;
  }

  .contact-form {
    width: 100%;
  }
  input[type="text"],
  input[type="email"],
  select,
  textarea {
    width: 100%;
    margin-left: 0;
  }
  input[type="checkbox"] {
    margin-left: 0;
  }
  label {
    margin-left: 0%;
  }

  .send-it {
    text-align: center;
  }

  .btn-app img {
    height: 40px;
    margin-right: 0px;
    margin-top: 30px;
    margin-left: 5%;
  }

  .works-step div {
    padding: 5px;
    height: 40px;
    width: 40px;
    font-size: 120%;
    margin-right: 10px;
  }
}
